---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
defaults:
  run:
    shell: bash
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Lint YAML files
        uses: ibiqlik/action-yamllint@v3.1
        with:
          file_or_dir: .
          strict: true
          no_warnings: false
          config_file: .yamllint
      - uses: actions/setup-java@v5.1.0
        with:
          java-version: 23
          distribution: oracle
          cache: gradle
      - name: Build
        run: |
          ./gradlew build
      - name: Upload reports
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build-reports
          path: build/reports/
      - name: Javadoc
        run: ./gradlew javadoc-all
