---
name: Release
on:
  release:
    types:
      - created
defaults:
  run:
    shell: bash
jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: maven-central
      url: https://s01.oss.sonatype.org/#nexus-search;quick~io.github.kare
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-java@v4.7.1
        with:
          java-version: 23
          distribution: oracle
      - name: Publish to Maven Central
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEUSERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEPASSWORD }}
        run: |
          ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
